@font-face {
    font-family: Source Sans Pro;
    src: url(./Fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: Source Sans Pro-Black;
    src: url(./Fonts/source-sans-pro/SourceSansPro-Black.otf);
}

@font-face {
    font-family: Source Sans Pro-SemiBold;
    src: url(./Fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: Source Sans Pro-Bold;
    src: url(./Fonts/source-sans-pro/SourceSansPro-Bold.otf);
}

@font-face {
    font-family: Source Sans Pro_Lightit;
    src: url(./Fonts/source-sans-pro/SourceSansPro-LightIt.otf);
}

@font-face {
    font-family: Source Sans Pro-Light;
    src: url(./Fonts/source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
    font-family: Source Sans Pro-ExtraLight;
    src: url(./Fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}


html{
    background-color: gray;
}


/*--Top Header--*/
/*--This will display the logo and Navigation links--*/

.header {
    width: auto;
    height: 750px;
    outline: 10px rgb(255, 0, 0) solid;
}

.navdiv {
    margin: 5px 10px;
    display: flex;
    outline: yellow solid 3px;
    justify-content: space-between
}

.headephoneheaderlogo {
    position: relative;
    height: 50px;
    outline: lightblue 3px solid;
}

.navbarsection {
    outline: lightblue 3px solid;
    color: white;
    font-family: Source Sans Pro-Bold;
    font-size: 18px;
}

.navbarsection li{
    margin: 30px;
    color: white;
    display: inline;
    outline: rgb(163, 232, 42) 3px solid;
}

.bottomheaderdiv {
    margin-top: 300px;
    text-align: center;
    outline: yellow solid 3px;
}

.headertitle {
    width: auto;
    outline: lightblue 3px solid;
}



@media only screen and (max-width: 685px) {
    /* For mobile phones: */
    .navdiv{
      outline: purple 10px solid;
    }
}