@font-face {
    font-family: Source Sans Pro;
    src: url(./Fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: Source Sans Pro-Black;
    src: url(./Fonts/source-sans-pro/SourceSansPro-Black.otf);
}

@font-face {
    font-family: Source Sans Pro-SemiBold;
    src: url(./Fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: Source Sans Pro-Bold;
    src: url(./Fonts/source-sans-pro/SourceSansPro-Bold.otf);
}

@font-face {
    font-family: Source Sans Pro_Lightit;
    src: url(./Fonts/source-sans-pro/SourceSansPro-LightIt.otf);
}

@font-face {
    font-family: Source Sans Pro-Light;
    src: url(./Fonts/source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
    font-family: Source Sans Pro-ExtraLight;
    src: url(./Fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}



html{
    background-color: gray;
    background-image: url(Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 480px;
}


/*--Top Header--*/
/*--This will display the logo and Navigation links--*/

.header {
    justify-content: center;
    width: auto;
    height: 100px;
    flex-direction: row;
    outline: 10px rgb(255, 0, 0) solid;
    margin-top: 10px;
}

.navdiv {
    position: relative;
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    outline: green solid 3px;
}

.headephoneheaderlogo {
    margin-left: 50px;
    outline: yellow solid 3px;
    scale: 1.2;
}

.headephoneheaderlogo:hover {
    transition: 0.5s;
    color: #FF6565;
    opacity: 0.9;
}

.menuicon {
    display: none;
}

.navbarsection {
    outline: purple solid 3px;
    margin-right: 50px;
}

.navbarsection li{
    display: inline;
}

.navbarsection a{
    margin: 30px;
    font-family: Source Sans Pro-Bold;
    color: aliceblue;
    text-decoration: none;
}

.navbarsection a:hover{
    transition: 0.5s;
    color: #FF6565;
    opacity: 0.9;
}


.mainpart {
    outline: green solid 3px;
    margin-top: 300px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.mainpart h1 {
    color: aliceblue;
    font-family: Source Sans Pro-Bold;
    font-size: 34px;
}

.maintitle {
    outline: red solid 5px;
    height: auto;
}

.maintitle p {
    color: aliceblue;
    font-family: Source Sans Pro-Bold;
    font-size: 18px;
    outline: rgb(40, 192, 172) solid 5px;
    margin-bottom: 60px;
}

.mainpart button {
    color: aliceblue;
    font-family: Source Sans Pro;
    text-transform: uppercase;
    background-color: #FF6565;
    cursor: pointer;
    outline: red solid;
    width: 170px;
    padding: 6px;
    font-size: 18px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.headerparagraph {
    display: flex;
    width: auto;
    position: relative;
    outline: blue solid 5px;
    text-align: center;
    justify-content: space-around;
}

.headerparagraph p {
    color: aliceblue;
    width: 450px;
}





@media only screen and (max-width: 675px) {
    /* For mobile phones: */
    .navdiv {
        flex-direction: column;
        text-align: center;
    }

    .navbarsection{
        margin: 0;
    }

    .navbarsection li{
        display: block;
        font-size: 26px;
        padding: 20px;
    }

    .headephoneheaderlogo {
        margin-left: 0;
    }

    .mainpart {
        margin-left: 10px;
        margin-right: 10px;
    }
}